*{
	margin: 0;
	padding: 0;
}

/*.button {
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
    color: darkolivegreen;
}*/


.textview {
    width: 212px;
    margin: 15px;
    margin-left: auto;
    font-size: 25px;
    padding: 5px;
    background-color: honeydew;
    background-color: aquamarine;
}

body {
    position: absolute;
    top: 20%;
    left: 41%;
    background: lightseagreen;
}

table {
    background-color: #597fa0;
}